* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body{
	margin: 0;
	padding: 0;
	background-image: url(../Ressources/background.webp);
	background-size: cover;
	background-position: absolute;
	font-family: sans-serif;
	text-align : center;
}

section {
    text-align: center;
    position: relative;
}

button
{
	border: none;
	outline: none;
	height: 42px;
	background: #21a1ff;
	color: #fff;
	font-size: 18px;
	margin-top:10px;
	margin-bottom:10px;
	border-radius: 10px;
}

button:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.game-container {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%);
    width: auto;
    height: auto;
    background: #21a1ff;
    border: 1px solid black;
    box-shadow: 5px, 5px rgba(0, 0, 0, 0.441);
    padding: -0.5rem;
    border-radius: 15px;
}

.cell {
    width: 70px;
    height: 70px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}